# ==| LOCAL ENV VARS OVERRIDES |===================================
#
# Use the local.env file to:
#
# 1. Add required env vars specified in the Configuration section of
#    the README. These can include secret values as this file is git
#    ignored.
#
# 2. Override the default environment variables specified in the
#    stack's `default.env` file. This can be useful for toggling feature
#    flags, routing requests to/from an app running in your IDE or
#    any other customisation you want to make for your local use.
#
# For example:
# DP_PING="pong"
ENABLE_FEEDBACK_API=${ENABLE_FEEDBACK_API:-true}

# For more information on the syntax see the docs:
# https://docs.docker.com/compose/environment-variables/env-file/#syntax
