services:
  dp-api-router:
    x-repo-url: "https://github.com/ONSdigital/dp-api-router"
    build:
      context: ${DP_REPO_DIR:-../../../..}/dp-api-router
      dockerfile: Dockerfile.local
    command:
      - reflex
      - -d
      - none
      - -c
      - ./reflex
    volumes:
      - ${DP_REPO_DIR:-../../../..}/dp-api-router:/dp-api-router
    expose:
      - "23200"
    ports:
      - 23200:23200
    restart: unless-stopped
    environment:
      HEALTHCHECK_INTERVAL:        ${HEALTHCHECK_INTERVAL:-30s}
      ENV_HOST:                    ${API_ROUTER_URL:-http://dp-api-router:23200}
      ALLOWED_ORIGINS:             ${ALLOWED_ORIGINS:-*}
      KAFKA_ADDR:                  ${KAFKA_ADDR:-kafka-1:19092,kafka-2:19092,kafka-3:19092}
      KAFKA_VERSION:               ${KAFKA_VERSION:-3.1.0}
      KAFKA_MAX_BYTES:             ${KAFKA_MAX_BYTES:-2000000}
      SERVICE_AUTH_TOKEN:          ${SERVICE_AUTH_TOKEN:-fc4089e2e12937861377629b0cd96cf79298a4c5d329a2ebb96664c88df77b67}
      ENABLE_AUDIT:                ${ENABLE_AUDIT:-false}
      ENABLE_PRIVATE_ENDPOINTS:    ${ENABLE_PRIVATE_ENDPOINTS:-true}
      ENABLE_TOPIC_API:            ${ENABLE_TOPIC_API:-true}
      ENABLE_FILES_API:            ${ENABLE_FILES_API:-true}
      ENABLE_RELEASE_CALENDAR_API: ${ENABLE_RELEASE_CALENDAR_API:-true}
      ZEBEDEE_URL:                 ${ZEBEDEE_URL:-http://zebedee:8082}
      RECIPE_API_URL:              ${RECIPE_API_URL:-http://dp-recipe-api:22300}
      IMPORT_API_URL:              ${IMPORT_API_URL:-http://dp-import-api:21800}
      DATASET_API_URL:             ${DATASET_API_URL:-http://dp-dataset-api:22000}
      FILTER_API_URL:              ${FILTER_API_URL:-http://dp-filter-api:22100}
      TOPIC_API_URL:               ${TOPIC_API_URL:-http://dp-topic-api:25300}
      UPLOAD_SERVICE_API_URL:      ${UPLOAD_API_URL:-http://dp-upload-service:25100}
      RELEASE_CALENDAR_API_URL:    ${RELEASE_CALENDAR_API_URL:-http://dp-release-calendar-api:27800}
      SEARCH_API_URL:              ${SEARCH_API_URL:-http://dp-search-api:23900}
      FILES_API_URL:               ${FILES_API_URL:-http://dp-files-api:26900}
      IDENTITY_API_URL:            ${IDENTITY_API_URL:-http://dp-identity-api:25600}
      IMAGE_API_URL:               ${IMAGE_API_URL:-http://dp-image-api:24700}
      ENABLE_FEEDBACK_API:         ${ENABLE_FEEDBACK_API:-false}
      FEEDBACK_API_URL:            ${FEEDBACK_API_URL:-http://dp-feedback-api:28600}
      ENABLE_REDIRECT_API:         ${ENABLE_REDIRECT_API:-false}
      REDIRECT_API_URL:            ${REDIRECT_API_URL:-http://dis-redirect-api:29900}
      ENABLE_BUNDLE_API:           ${ENABLE_BUNDLE_API:-true}
      BUNDLE_API_URL:              ${BUNDLE_API_URL:-http://dis-bundle-api:29800}
      PERMISSIONS_API_URL:         ${PERMISSIONS_API_URL:-http://dp-permissions-api:25400}
    healthcheck:
      test: ["CMD", "curl", "-sSf", "http://localhost:23200/health"]
      interval: ${HEALTHCHECK_INTERVAL:-30s}
      timeout: 10s
      retries: 10
