services:
  dp-frontend-router:
    x-repo-url: "https://github.com/ONSdigital/dp-frontend-router"
    build:
      context: ${DP_REPO_DIR:-../../../..}/dp-frontend-router
      dockerfile: Dockerfile.local
    command:
      - reflex
      - -d
      - none
      - -c
      - ./reflex
    volumes:
      - ${DP_REPO_DIR:-../../../..}/dp-frontend-router:/dp-frontend-router
    expose:
      - "20000"
    ports:
      - 20000:20000
    restart: unless-stopped
    environment:
      API_ROUTER_URL:                  ${API_ROUTER_URL:-http://dp-api-router:23200}/v1
      BABBAGE_URL:                     ${BABBAGE_URL:-http://babbage:8080}
      DATASET_CONTROLLER_URL:          ${DATASET_CONTROLLER_URL:-http://dp-frontend-dataset-controller:20200}
      ENABLE_STATIC_DATASET_ROUTING:   ${ENABLE_STATIC_DATASET_ROUTING:-false}
      FEEDBACK_CONTROLLER_URL:         ${FEEDBACK_CONTROLLER_URL:-http://dp-frontend-feedback-controller:25200}
      FILTER_FLEX_DATASET_SERVICE_URL: ${FILTER_FLEX_DATASET_SERVICE_URL:-http://dp-frontend-filter-flex-dataset:20100}
      FILTER_FLEX_ROUTES_ENABLED:      ${FILTER_FLEX_ROUTES_ENABLED:-false}
      HEALTHCHECK_INTERVAL:            ${HEALTHCHECK_INTERVAL:-30s}
      HOMEPAGE_CONTROLLER_URL:         ${HOMEPAGE_CONTROLLER_URL:-http://dp-frontend-homepage-controller:24400}
      RELEASE_CALENDAR_ENABLED:        ${RELEASE_CALENDAR_ENABLED:-false}
      RELEASE_CALENDAR_CONTROLLER_URL: ${RELEASE_CALENDAR_CONTROLLER_URL:-http://dp-frontend-release-calendar:27700}
      SEARCH_CONTROLLER_URL:           ${SEARCH_CONTROLLER_URL:-http://dp-frontend-search-controller:25000}
      SEARCH_ROUTES_ENABLED:           "true"
    healthcheck:
      test: ["CMD", "curl", "-sSf", "http://localhost:20000/health"]
      interval: ${HEALTHCHECK_INTERVAL:-30s}
      timeout: 10s
      retries: 10
