services:
  dp-frontend-dataset-controller:
    x-repo-url: "https://github.com/ONSdigital/dp-frontend-dataset-controller"
    build:
      context: ${DP_REPO_DIR:-../../../..}/dp-frontend-dataset-controller
      dockerfile: Dockerfile.local
    command:
      - reflex
      - -d
      - none
      - -c
      - ./reflex
    volumes:
      - ${DP_REPO_DIR:-../../../..}/dp-frontend-dataset-controller:/dp-frontend-dataset-controller
    expose:
      - "20200"
    ports:
      - 20200:20200
    restart: unless-stopped
    environment:
      BIND_ADDR:                      ":20200"
      API_ROUTER_URL:                 ${API_ROUTER_URL:-http://dp-api-router:23200}/v1
      DATASET_API_URL:                ${DATASET_API_URL:-http://dp-dataset-api:22000}
      CENSUS_TOPIC_ID:                ${CENSUS_TOPIC_ID:-4445}
      DEBUG:                          ${DEBUG:-false}
      ENABLE_CENSUS_TOPIC_SUBSECTION: ${ENABLE_CENSUS_TOPIC_SUBSECTION:-false}
      ENABLE_NEW_NAVBAR:              ${ENABLE_NEW_NAVBAR:-false}
      IS_PUBLISHING_MODE:             ${IS_PUBLISHING:-false}
      SERVICE_AUTH_TOKEN:             ${SERVICE_AUTH_TOKEN:-fc4089e2e12937861377629b0cd96cf79298a4c5d329a2ebb96664c88df77b67}
      SITE_DOMAIN:                    ${SITE_DOMAIN:-localhost}
      DOWNLOAD_SERVICE_URL:           "http://localhost:23600"
      PERMISSIONS_API_URL:                ${PERMISSIONS_API_URL:-http://dp-permissions-api:25400}
      IDENTITY_API_URL:                   ${IDENTITY_API_URL:-http://dis-authentication-stub:29500}
      IDENTITY_WEB_KEY_SET_URL:           ${IDENTITY_API_URL:-http://dis-authentication-stub:29500}
      AUTHORISATION_ENABLED:              "true"
    healthcheck:
      test: ["CMD", "curl", "-sSf", "http://localhost:20200/health"]
      interval: ${HEALTHCHECK_INTERVAL:-30s}
      timeout: 10s
      retries: 10
